
.footer-copyright {
    text-align: center !important;
    margin-top: 20px;
  }
  
  .footer-body {
    text-align: center !important;
  }
  
  @media (max-width: 767px) {
    .footer-copyright {
      text-align: center !important;
    }
  
    .footer-body {
      text-align: center !important;
    }
  }
  
  .footer h3 {
    font-size: 1em;
    color: white !important;
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
  }
  .footer-icons {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
    padding: 0 !important;
  }
  
  .blockquote-footer {
    color: #414141 !important;
    font-weight: bold;
  }